// ==========================================================================
// Sidebar
// ==========================================================================


.side {
  background-color: #EFEDE3;
  box-shadow: 2px 4px 3px transparent;
  &:hover {
    box-shadow: 2px 4px 3px #C8C8C8;
  }
}
