a[href="/r/anaheimducks"]:before, a[href="/r/bostonbruins"]:before, a[href="/r/sabres"]:before, a[href="/r/calgaryflames"]:before, a[href="/r/canes"]:before, a[href="/r/hawks"]:before, a[href="/r/coloradoavalanche"]:before, a[href="/r/bluejackets"]:before, a[href="/r/dallasstars"]:before, a[href="/r/detroitredwings"]:before, a[href="/r/edmontonoilers"]:before, a[href="/r/floridapanthers"]:before, a[href="/r/losangeleskings"]:before, a[href="/r/wildhockey"]:before, a[href="/r/habs"]:before, a[href="/r/predators"]:before, a[href="/r/devils"]:before, a[href="/r/newyorkislanders"]:before, a[href="/r/rangers"]:before, a[href="/r/ottawasenators"]:before, a[href="/r/flyers"]:before, a[href="/r/coyotes"]:before, a[href="/r/penguins"]:before, a[href="/r/sanjosesharks"]:before, a[href="/r/stlouisblues"]:before, a[href="/r/tampabaylightning"]:before, a[href="/r/leafs"]:before, a[href="/r/canucks"]:before, a[href="/r/caps"]:before, a[href="/r/winnipegjets"]:before, a[href="/r/hockey"]:before, a[href="/r/USAHockey"]:before, a[href="/r/TeamCanada"]:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(%%allteamflair%%);
    background-position: -9999px -9999px;
    vertical-align: middle;
    content: "";
    }
a[href="/r/hockey"]:before {
    width: 20px;
    height: 20px;
    background-position:0 0;
    background-image: url(%%nhl%%);
    }
a[href="/r/anaheimducks"]:before {
    background-position: 0 -1701px !important
    }
a[href="/r/bostonbruins"]:before {
    background-position: 0 -1785px !important
    }
a[href="/r/sabres"]:before {
    background-position: 0 -1932px !important
    }
a[href="/r/calgaryflames"]:before {
    background-position: 0 -1995px !important
    }
a[href="/r/canes"]:before {
    background-position: -21px -42px !important
    }
a[href="/r/hawks"]:before {
    background-position: -21px -84px !important
    }
a[href="/r/coloradoavalanche"]:before {
    background-position: -21px -168px !important
    }
a[href="/r/bluejackets"]:before {
    background-position: -21px -210px !important
    }
a[href="/r/dallasstars"]:before {
    background-position: -83px -712px !important
    }
a[href="/r/detroitredwings"]:before {
    background-position: -21px -357px !important
    }
a[href="/r/edmontonoilers"]:before {
    background-position: -21px -441px !important
    }
a[href="/r/floridapanthers"]:before {
    background-position: -21px -546px !important
    }
a[href="/r/losangeleskings"]:before {
    background-position: -21px -567px !important
    }
a[href="/r/wildhockey"]:before {
    background-position: -21px -735px !important
    }
a[href="/r/habs"]:before {
    background-position: -21px -798px !important
    }
a[href="/r/predators"]:before {
    background-position: -21px -987px !important
    }
a[href="/r/devils"]:before {
    background-position: -21px -1050px !important
    }
a[href="/r/newyorkislanders"]:before {
    background-position: -21px -1092px !important
    }
a[href="/r/rangers"]:before {
    background-position: -21px -1155px !important
    }
a[href="/r/ottawasenators"]:before {
    background-position: -21px -1491px !important
    }
a[href="/r/flyers"]:before {
    background-position: -21px -1575px !important
    }
a[href="/r/coyotes"]:before {
    background-position: -21px -1596px !important
    }
a[href="/r/penguins"]:before {
    background-position: -21px -1722px !important
    }
a[href="/r/sanjosesharks"]:before {
    background-position: -21px -1827px !important
    }
a[href="/r/stlouisblues"]:before {
    background-position: -21px -1911px !important
    }
a[href="/r/tampabaylightning"]:before {
    background-position: -42px 0 !important
    }
a[href="/r/leafs"]:before {
    background-position: -42px -105px !important
    }
a[href="/r/canucks"]:before {
    background-position: -42px -210px !important
    }
a[href="/r/caps"]:before {
    background-position: -42px -336px !important
    }
a[href="/r/winnipegjets"]:before {
    background-position: -42px -420px !important
    }
a[href="/r/USAHockey"]:before {
    background-position: -85px -690px !important
    }
a[href="/r/TeamCanada"]:before {
    background-position: -85px -463px !important
    }
