// ==========================================================================
// Footer
// ==========================================================================

html:not([lang="ns"]) .footer-parent {
  background-image: url($footer-img);
  background-repeat: $footer-img-repeat;
  background-attachment: $footer-img-attachment;
  height:$footer-img-height ;
  background-position: $footer-img-position;
  background-size: $footer-img-size;
}

// footer links

.footer .flat-vert {
  &.title {
    color:$footer-link-titles;
  }
  li a {
    color:$footer-link-color;
  }
}

p.bottommenu {
  color:$footer-link-color;
}
