// ==========================================================================
// Header
// ==========================================================================

body {
  background-color: $page-bg-color;
}

body>.content {
  margin: 212px 332px 0 16px;
}


#header-bottom-left {
  top: 164px;
}

#header .pagename a {
  &:hover {
    color:$pagename-hover;
  }
}
