// ==========================================================================
// Header
// ==========================================================================

body {
  background-color: $body-bg-color;
  &:before {
    background-image: url($rangerstown-banner);
    height: $header-height;
    background-size: cover;
    background-position: center center;
  }
}

body>.content {
  margin: $body-margin;
}

#header .pagename a {
  color:$pagename-color;
  &:before {
    content:$pagename-prefix-copy;
  }
  &:hover {
    color:$pagename-hover;
  }
}

#mail.havemail:before {
  content:$have-mail-copy;
}
