// ==========================================================================
// Main Links
// ==========================================================================

.link {
  background-color: $main-link-bg-color;
  border: 1px solid transparent;
  margin: 8px 0;
  box-shadow: 2px 4px 3px transparent;
  &:hover {
    background-color: $main-link-hover;
    border: 1px solid $main-link-border-color;
    box-shadow: 2px 4px 3px $main-link-box-shadow-color;
  }
  .score.likes {
    color: $like-score;
  }
}

.link.last-clicked {
  background-color: $main-link-last-clicked-bg;
}

.thing.stickied a.title, .thing.stickied a, .thing.stickied .entry li .comments {
  color:$main-link-stickied-txt-color;
}

.thing .title.loggedin.click, .thing .title.click, .thing .title.loggedin, .thing .title {
  color: #2B4877;
}

.entry .buttons li a {
  color: $anchor-color;
  &.comments {
    color: $main-link-comments-anchor;
  }
}
div.RES-keyNav-activeElement, div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed {
  border-color:$active-post-border;
}
