// ==========================================================================
// Main Links
// ==========================================================================

#images {
  height: auto;
  float: left;
}

ul#image-preview-list li {
  padding-bottom: 10px;
  margin-bottom: 20px;
  vertical-align: top;
  width: 50%;
  height: 100px;
  float: left;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
}
