// ==========================================================================
// Sidebar
// ==========================================================================


.side {
  background-color: $sidebar-color;
  box-shadow: 2px 4px 3px transparent;
  margin:290px 16px 0 0;
  &:hover {
    box-shadow: 2px 4px 3px $sidebar-color;
  }
}

div.side div.spacer:nth-of-type(1) {
  background: url('%%sidebar1%%');
  height:240px;
}

div.side div.spacer:nth-of-type(2):before {
  content: "sweet it works";
  width: 100%;
  display: block;
  color: #000;
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #000;
}


#search {
  top: 176px;
}

.morelink {

}

ul.content {
  border: 1px solid transparent;
}


// submit button
.morelink  {
  top: $submit-top;
  color:$submit-txt-color;
  background-color:$submit-bg;
}

// sidebar img
div.side div.spacer:nth-of-type(1) {
  background:url($sidebar-img);
}

// sidebar custom buttons
div.side div.spacer:nth-of-type(2):before {
  content: $button-1-copy;
  width: $button1-width;
  display: block;
  color: $button1-txt-color;
  padding: $button1-padding;
  font-size: $button1-fsz;
  text-align: center;
  background-color: $button1-bg-color;
  border: 1px solid $button1-border-color;
}
