//-left menu
.side {
  h5 {
    position:fixed;
    top:$header-height - 55;
    right:-160px;
    width: auto;
    z-index:8;
    height:45px;
    background:$topbar-bg;
    color:$slidemenu-text-color;
    margin: 0 !important;
    box-shadow:0px 0px 2px rgba(0, 0, 0, 0.68);
    text-decoration:none;
    border: none;
    padding:10px 10px 10px 42px;
    @include transition-all(0.75s);
    &:before {
      content:' ';
      background-image: url($all-teams-flair);
      background-position:-670px -600px!important;
      right: 165px;
      top: 10px;
      display: block;
      height: 22px;
      width: 25px;
      position: absolute;
    }
    &:hover {
      background:$topbar-hover;
      right:0;
    }
    a {
      opacity:0.65;
      @include transition-all(0.70s);
      cursor:pointer;
      &:hover {
        opacity:1;
      }
    }
  }
}
