//-left menu
.side {
  h5 {
    position:fixed;
    top:$header-height - 55;
    right:-300px;
    width:350px;
    z-index:8;
    height:60px;
    background:$topbar-bg;
    margin: 0 !important;
    box-shadow:1px 1px 1px rgba(0, 0, 0, 0.68);
    text-decoration:none;
    color:$rangers-red;
    border: 2px solid $rangers-red;
    padding-left: 60px;
    padding-top:16px;
    @include transition-all(0.75s);
    &:before {
      content:' ';
      background:url($rangers-logo-md);
      background-size: cover;
      right: 300px;
      top: 10px;
      display: block;
      height: 38px;
      width: 40px;
      position: absolute;
    }
    &:hover {
      background:$topbar-hover;
      right:0;
    }
    a {
      opacity:0.65;
      @include transition-all(0.70s);
      cursor:pointer;
      &:hover {
        opacity:1;
      }
    }
  }
}
