// ==========================================================================
// Submit Page
// ==========================================================================

.submit-page .content {
  margin-top:$header-height+15;
  margin-bottom: 10px;
  #newlink.submit.content .btn {
    font-size: 20px;
    height: 62px;
  }
}
