// ==========================================================================
// Copy
// ==========================================================================


//-custom buttons
$button-1-copy: "sweet it works";

$unsubscribe-copy: "Unsubscribe =(";
$rules-copy: "Please remember to read the rules. LGR!";
