// ==========================================================================
// Copy
// ==========================================================================


$current-theme-copy: "current r/rangers theme: #{$current-theme}";

//-custom buttons
$button1-copy: "FB";
$button2-copy: "Twitter";
$button3-copy: "Instagram";
$button4-copy: "Youtube";

$user-word: " blueshirts,";

$unsubscribe-copy: "Unsubscribe =(";
$rules-copy: "Please remember to read the rules. LGR!";
$pagename-prefix-copy: "/r/";
$have-mail-copy: "You have new messages!";
$search-placeholder-copy: "Search reddit..";

$disabled-copy: "You must be approved by the moderators in order to submit.";
