// ==========================================================================
// Dimensions
// ==========================================================================


//-grid
$grid-columns: 12;
$grid-max-width: 100em;

//-body
$body-margin: 212px 332px 0 16px;

//-header
$header-height: 166px;

//-tabmenu
$tabmenu-top: 164px;

//-buttons
$btn-padding: 9px 20px;
$btn-border-radius: 0px;

//-custom buttons
$button1-width: 100%;
$button1-padding: 10px 0;

//-sidebar
$submit-top: 228px;
$sidebar-width: 300px;
$sidebar-margin: 290px 16px 0 0;
$search-expando-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
$sidebar-box-shadow: 2px 4px 3px transparent;
$sidebar-hover-box-shadow: 2px 4px 3px $sidebar-color;
$sidebar-img-height: 240px;
$search-top: 176px;

//-logo
$logo-max-width: 250px;

//-main
$main-row-padding: 1em;
$main-col-padding: 0;
$wrapper-padding: 0 2em;

//-socials
$social-link-padding: 5px 10px;
$social-border-radius: 2px;
$social-extras-padding: 5px 9px;

//-code
$code-padding: .25em .5em;
$code-vertical-align: middle;
