// ==========================================================================
// Dimensions
// ==========================================================================

@if $current-theme == "playoffs" {
  //-grid
  $grid-columns: 12;
  $grid-max-width: 100em;

  $header-height: 500px;

  //-calc position from top based on header height
  $body-margin: $header-height+50 332px 0 16px;
  $search-top: $header-height + 10;
  $tabmenu-top: $header-height - 2;
  $submit-top: $header-height+60;
  $sidebar-margin: $header-height + 110 16px 0 0;

  $single-linkinfo-top: $header-height + 110;
  $single-sidebar-top: $header-height + 235;


  //-buttons
  $btn-padding: 9px 20px;
  $btn-border-radius: 0px;

  //-custom buttons
  $button1-width: 100%;
  $button1-padding: 10px 0;

  $button2-width: 100%;
  $button2-padding: 10px 0;

  $button3-width: 100%;
  $button3-padding: 10px 0;

  $button4-width: 100%;
  $button4-padding: 10px 0;

  //-footer
  $footer-parent-height: 780px;
  $footer-parent-after-height: 730px;


  //-sidebar
  $submit-height: 45px;
  $sidebar-width: 300px;

  $search-expando-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  $sidebar-box-shadow: 2px 4px 3px transparent;
  $sidebar-hover-box-shadow: 2px 4px 3px $sidebar-color;


  //-logo
  $logo-max-width: 250px;

  //-main
  $main-row-padding: 1em;
  $main-col-padding: 0;
  $wrapper-padding: 0 2em;

  //-socials
  $social-link-padding: 5px 10px;
  $social-border-radius: 2px;
  $social-extras-padding: 5px 9px;

  //-code
  $code-padding: .25em .5em;
  $code-vertical-align: middle;

}
