// ==========================================================================
// Images
// Note: Vars used here need to be defined in global/_define.scss
// ==========================================================================
@if $current-theme == "home" {
  //-body
  $body-bg-image:'' ;
  $body-bg-attachment: none ;
  $body-bg-position: 0 0;
  $body-bg-repeat: no-repeat;
  $body-bg-size: cover;

  $rangers-logo-md: "%%sidebar-nhl-rangers%%";
  $rangers-logo-1926: "%%footerbg%%";

  //-banners
  $rangerstown-banner: '%%rangerstown%%';
  $rangers-banner: '%%rangersbanner%%';

  $current-header-img: $rangers-banner;

  $header-bg-size: cover;
  $header-bg-position: center center;

  //-sprite
  $naut-sprite: '%%spritesheet%%';

  //-tabmenu
  $tab-menu-left-img: $naut-sprite;
  $tab-menu-left-bg-position: -208px -48px;
  $tab-menu-left-padding: 48px;
  $tab-menu-left-height: 48px;
  $tab-menu-left-width: 40px;
  $tab-menu-left-bgsize: initial;
  $tab-menu-left-hover-bp: -208px -96px;

  //-sidebar
  $all-teams-flair: '%%all-teams-flair%%';
  $kleiner-sidebar: '%%kleiner%%';
  $win: '%%win%%';

  $sidebar-img: '%%sidebar%%';

  $sidebar-img-height: 230px;
  $sidebar-img-bg-size: contain;
  $sidebar-img-bg-repeat: no-repeat;

  $sidebar-bg-image: '';
  $sidebar-bg-attachment: none;
  $sidebar-bg-position: 0 0;
  $sidebar-bg-repeat: no-repeat;
  $sidebar-bg-size: cover;

  //-links
  $sticky-img: "%%stickytoast%%";
  $upvote-img: $rangers-logo-md;
  $downvote-img: "%%sticky%%";

  //-footer
  $footer-img: $rangers-logo-1926;
  $footer-img-attachment: none;
  $footer-img-position: bottom 100px center;
  $footer-img-repeat: no-repeat;
  $footer-img-size: '';
}
